/*	
-------------------------------------------
	1. BODY
-------------------------------------------
*/
body {font-family: 'Roboto Condensed', sans-serif;
    background-color: #B5E4D0;
    width:auto;
	float:right;
	margin-top:10px;
}
     
h1, h2 {
    color: #222;
    font-weight: 18px;
    line-height: 1.1em;
}


/*	
-------------------------------------------
	2. HEADER
-------------------------------------------
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    width: 60px;
}