/*	
-------------------------------------------
	1. BODY
-------------------------------------------
*/
body {font-family: 'PT Sans Narrow', sans-serif;
    background-color: #EF8C00;
}

#center {width: 1080px;
    margin: auto;
}

h1 {
    color: #ffffff;
    opacity: 0.75;
    font-size: 30px;
    line-height: 1.1em;
    text-align: left;
}

h2, h3 {
    color: #EF8C00;
    text-shadow: 2px 2px #ff0000;
    font-weight: 16px;
    line-height: 0.75em;
}

h4 {color: #EF8C00;
    text-shadow: 2px 2px #ff0000;
    font-weight: 14px;
    line-height: 0.75em;
}

/*	
-------------------------------------------
	2. HEADER
-------------------------------------------
*/
ul {
    list-style-type: none;
    padding: 10px;
}

li {
    width: auto;
    padding:inherit;
    margin:auto;
    border: 2px;
    display:inline-block;
}


/*	
-------------------------------------------
	3. LINKS
-------------------------------------------
*/
/* unvisited link */
a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}

/*	
-------------------------------------------
	3. IMAGES
-------------------------------------------
*/
figure {padding: 10px 16px;
        margin: inherit;
    display:inline-block;
}

div.img {
    margin: 2px;
    padding: 2px;
    border: 1px solid #0000ff;
    height: 250px;
    width: 250px;
    float: left;
    text-align: center;
}

div.img img {
    margin: 5px;
    border: 1px solid #222;
}

div.img a:hover img {
    border:10px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 250px;
    margin: 5px;
}